#base
start mysql-async
start es_extended

#voice
start ls-radio
start tokovoip_script

#menu_ui
start esx_menu_default
start esx_menu_list
start esx_menu_dialog
start NativeUI
start mythic_notify
start mythic_progressbar
start progressBars
start mythic_progbar

#status
start esx_status
start CARP-status
start skeletalsystem
start esx_gift_tree
start prison_status_panel

#store
start esx_addonaccount
start esx_addoninventory
start esx_datastore

#inventory
start esx_inventoryhud

#other
start esx_billing

#skin
start skinchanger
start esx_skin

###eup
start character
start fashionA
start UniformsB


#ability
start esx_ability
start esx_amb_ability
start esx_chef_ability
start esx_gun_ability
start esx_lock_ability
start esx_mech_ability

#job
start esx_ambulancejob
start esx_mechanicjob
start esx_policejob
#start Hunter

#shop
start esx_vehicleshop

#menu ui
start st-menu
start st-hud

#animation
start dpemotes

#for vehicle

#admin
start vMenu

#resources
start cron
start vSync  #天氣
start esx_society
start esx-ecobottles
start chip_criminalDoctor #補血站
start esx_dmvschool
start st-cctv #camera
start esx_license
start new_banking
start zffb_dice
start esx-kr-vehicle-push #推車
start InteractSound  #正常音效
start InteractSoundS #安全帶
start esx_lscustom
start esx_caraction
start esx_garage

#illegal
start esx_kingofthehill #佔領據點
start hackee-dispatch
start esx_autogang
start esx_thief
start esx_carthief
start KBurglary
start lockpick
start mhacking
start t1ger_drugs
start TakeHostage
start x-hotwire
start stasiek_selldrugs
start esx_planting
start esx_merryweather
start esx_doorlock_mhacking
start esx_vangelico_robbery
start esx_drugs
start esx_drugeffects
start esx_lootDeadbody
start esx_outlawalert
start esx_knatusrobberybank #小銀行
start esx_knatusblowtorch #噴燈
###UTK
start utk_ornateheist
start utk_ornateprops

#crafting
start crafting
start esx_crafting

#instance
start instance

#map
###stronghold
start biker
start bikerbarsandy
start grandehouse
start petitmaison
start vagos
start buldingbeach
start tpplage #beachtp
###prison
start int_prisonfull
start prisonprops
###health
start dons_bm_middoc
start smokey_hory
start PetClinic